.Fallback {
    width: 100%;
    height: 90vh;
    opacity: 1;
    background-color: #111;
    animation: fadeIn 1s ease;
    -webkit-animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
