@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";

.Logo {
    position: fixed;
    bottom: 5%;
    z-index: 2;
    background-color: $color-white;
    box-shadow: $shadow;
    left: 50%;
    padding: 1rem;
    width: 7rem;
    border-radius: 100%;
    @include center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);

    @include responsive(479, 0) {
        width: 5.5rem;
        bottom: 6.5%;
    }
    &__Image {
        width: 100%;
    }
}
